header#top {
	background: url(../images/survive-smaller.jpg);
	background-size: cover;
	background-position: center;
	height:100vh;
	color:#FFF;
	padding-top: 5rem;
	div.inner-wrapper {
		width: 75%;
		padding:4rem;
	}
	h1 {
		text-align: center;
		font-size: 11rem;
		font-weight: normal;
		margin: 0 auto;
		letter-spacing: 5px;
		text-transform: uppercase;
		border-bottom: 2px dotted $orange;
	}
	p.tagline {
		padding: 1rem 0;
		text-align: center;
		width: 100%;
		font-size: 3rem;
		color:#FFF;
		margin: 0 auto;
	}
	div.appInfo,
	form {
		margin:0 auto;
		padding:1rem 0;
	}
	div.appInfo {
		line-height: 1.5;
		font-size: 2rem;
	}
	form {
		h2 {
			font-size: 1rem 2rem;
			font-weight: normal;
			text-transform: uppercase;
		}
		label {
			font-size: 3rem;
			text-transform: capitalize;
		}
		input[type=text] {
			font-size: 3rem;
			border: none;
			border: .1rem solid #FFF;
			background: transparent;
			width: 100%;
			color: #FFF;
			padding:1rem;
			&:focus {
				background: transparent;
				outline: none;
			}
		}
		input::-webkit-input-placeholder {
			color: #FFF;
		}
		input[type=submit] {
			width: 100%;
			margin-top:2rem;
			font-size: 2.5rem;
			background: $orange;
			border: .2rem solid $orange;
			color: #FFF;
			&:focus {
				outline:none;
			}
			&:hover {
				border: .2rem solid #FFF;
			}
		}
	}
}

//******************************
// Media Queries 
//******************************

@media(max-width: 1040px ) {
	header#top {
		padding-top: 5.5rem;
		div.inner-wrapper {
			padding:4rem;
			div.app-info {
				flex: 1 0 100%;
			}
			form {
				flex: 1 0 100%;
				padding-top:0;
			}
		}
	}
}

@media (max-width:700px) {
		header#top {
			padding-top: 6rem;
			div.inner-wrapper {
				padding:4rem;
			h1 {
				font-size: 9rem;
			}
		}
	}
}

@media (max-width:541px) {
	header#top {
		padding-top: 2.5rem;
		h1 {
			font-size: 9rem;
		}
	}
}

@media (max-width:510px) {
		header#top {
			padding-top: 3rem;
			div.inner-wrapper {
				padding:3.5rem;
			h1 {
				font-size: 9rem;
			}
			p.tagline {
				font-size: 2.2rem;
			}
		}
	}
}

@media (max-width:491px) {
	header#top {
		padding-top: 2rem;
		div.inner-wrapper {
			max-width:100%;
			padding:3.5rem;	
			h1 {
				font-size: 8.5rem;
			}
		}
	}
}

@media (max-width:480px) {
	header#top {
		padding-top: 5rem;
		div.inner-wrapper {
			max-width:100%;
			padding:1.5rem;	
			h1 {
				font-size: 8rem;
			}
		}
	}
}

@media (max-width:420px) {
	header#top {
		padding-top: 5rem;
		div.inner-wrapper {
			max-width:100%;
			padding:1.5rem;	
			h1 {
				font-size: 7.2rem;
			}
			div.app-info {
				font-size: 1.4rem;
			}
			p.tagline {
				font-size: 2rem;
			}
			form h2 {
				font-size: 1.8rem
			}
		}
	}
}

@media (max-width:420px) {
	header#top {
		padding-top: 5rem;
		div.inner-wrapper {
			h1 {
				font-size: 6rem;
			}
			p.tagline {
				font-size: 1.8rem;
			}
		}
	}
}

