article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background-color: #1a1a1a;
  color: #DBAC00;
  text-align: center;
  font-weight: 700;
}

header nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 10px;
  background-color: #000;
  width: 100%;
}

header nav li a {
  font-size: 2rem;
  padding: 10px 10px 0;
  text-shadow: 2px 2px 0 #1a1a1a;
}

header h1 {
  font-size: 11rem;
  padding: 30px 0 0;
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 5px 5px 0 #000;
}

header p.tagline {
  font-size: 3rem;
  color: #BC1414;
  border-top: 2px dotted #DBAC00;
  margin: 0;
  padding: 5px 0 10px;
}

main {
  text-align: center;
}

main .wrapper {
  margin: 10px auto;
  padding: 10px;
}

main p {
  font-size: 2.2rem;
  padding: 10px;
  margin: 0;
}

main form {
  border: 2px dotted #000;
  padding: 60px 20px;
  margin-bottom: 10px;
}

main form label {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
}

main form input[type=text] {
  font-size: 3rem;
  border: none;
  border-bottom: 2px solid #000;
  background: transparent;
  width: 40%;
}

main form input[type=text]:focus {
  background: transparent;
  outline: none;
}

main form input::-webkit-input-placeholder {
  color: #000;
}

main form input[type=submit] {
  width: 20%;
  font-size: 2.5rem;
  background: transparent;
  border: 2px dotted #000;
}

main form input[type=submit]:focus {
  outline-color: #FFF;
}

section.whatYouWillNeed {
  text-align: center;
  padding-top: 40px;
}

section.whatYouWillNeed .wrapper {
  border: 2px dotted #000;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.container .collapse-card__heading {
  background-color: #1a1a1a;
  text-align: center;
}

.container .collapse-card__body {
  background-color: #1a1a1a;
}

.grocery,
.hardware,
.pharmacy {
  background-color: #1a1a1a;
  padding: 10px 40px;
  list-style-type: square;
}

.grocery ul,
.hardware ul,
.pharmacy ul {
  padding: 0 20px;
}

.grocery ul li,
.hardware ul li,
.pharmacy ul li {
  padding: 0;
}

.grocery {
  padding: 10px 20px;
}

.collapse-card__heading h4 {
  color: #DBAC00;
  font-size: 3rem;
  padding: 1rem;
  text-shadow: 2px 2px 0 #1a1a1a;
}

div.collapse-card {
  font-size: 2rem;
  line-height: 2.5rem;
  color: grey;
  text-align: left;
  border-bottom: 1px solid #1a1a1a;
}

div.collapse-card ul {
  list-style: square;
  list-style-position: inside;
  padding: 0 20px;
}

footer {
  text-align: center;
  background-color: #1a1a1a;
  margin-top: 10px;
  padding: 10px;
  color: #DBAC00;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #DBAC00;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #DBAC00;
}

a:visited {
  color: #FFF;
}

a:hover {
  border-bottom: 2px dotted #DBAC00;
}

h2 {
  font-size: 5rem;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 1px solid #000;
}

h4 {
  font-size: 2.3rem;
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
}

p {
  margin: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 10px auto;
  padding: 10px 20px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#map {
  width: 100%;
  height: 300px;
  border: 2px dotted #000;
}

main .appInfo {
  padding: 20px 0 40px;
}

main .storeInfo p.contactInfo {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

main .storeInfo p.contactNum {
  font-size: 2rem;
  font-size: 400;
  margin: 0;
  padding: 0;
}

section.yourNearest {
  margin-top: 20px;
  max-width: 100%;
  border: 2px dotted #000;
}

section.yourNearest #groceryStoreLocationInfo,
section.yourNearest #hardwareStoreLocationInfo,
section.yourNearest #pharmacyLocationInfo {
  padding: 10px;
}

#groceryStoreLocationInfo h3 {
  border-bottom: 3px solid #8E61FF;
}

#hardwareStoreLocationInfo h3 {
  border-bottom: 3px solid #678EFF;
}

#pharmacyLocationInfo h3 {
  border-bottom: 3px solid #00E842;
}

@media (max-width: 767px) {
  h3 {
    font-size: 2.3rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  header p.tagline {
    font-size: 2.5rem;
  }
}

@media (max-width: 617px) {
  h2 {
    font-size: 4rem;
  }
  main form input[type=text] {
    font-size: 2rem;
  }
  main form input[type=submit] {
    font-size: 2rem;
  }
}

@media (max-width: 520px) {
  #map {
    width: 100%;
  }
  .twitter {
    width: 100%;
  }
  h2 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
  input[type=text].userAddress {
    width: 100%;
  }
  main form input[type=submit] {
    display: block;
    margin: 10px auto 0;
    font-size: 2rem;
    width: 40%;
  }
  input::-webkit-input-placeholder {
    font-size: 2rem;
  }
}

@media (max-width: 515px) {
  header h1 {
    font-size: 8rem;
  }
}

@media (max-width: 500px) {
  section.emergencySupplies .groceries,
  section.emergencySupplies .homeHardware,
  section.emergencySupplies .pharmacy {
    width: 100%;
  }
  main p {
    font-size: 1.8rem;
  }
}

@media (max-width: 415px) {
  header nav li a {
    font-size: 1.5rem;
  }
  header h1 {
    font-size: 6.5rem;
  }
  header p.tagline {
    font-size: 2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .collapse-card h4 {
    font-size: 2.3rem;
  }
}

@media (max-width: 330px) {
  header nav li a {
    font-size: 1.2rem;
  }
  header h1 {
    font-size: 5rem;
  }
  header p.tagline {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  .collapse-card h4 {
    font-size: 1.8rem;
  }
  .grocery ul li,
  .hardware ul li,
  .pharmacy ul li {
    font-size: 1.7rem;
  }
}

@media (max-width: 279px) {
  header nav li a {
    font-size: 1rem;
  }
  header h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}
