$baseFont:'Roboto', sans-serif;;
$yellow: #DBAC00;
$red: #BC1414;

@import "_normalize";
@import "_header";
@import "_userInput";
@import "_whatYouWillNeed";
@import "_footer";

html {
	font-size: 62.5%;
}

body {
	font-size: 16px;
	font-size: 1.6rem;
	background-color: $yellow;
	font-family: $baseFont;
}

ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	outline: none;	
}

a {
	text-decoration: none;
	color: $yellow;
	&:visited {
		color: #FFF;
	}
	&:hover {
		border-bottom: 2px dotted $yellow;
	}
}

h2 {
	font-size: 5rem;
	margin: 0;
	font-weight: 700;
	text-transform: uppercase;
}

h3 {
	font-size: 2.5rem;
	text-transform: uppercase;
	margin: 0;
	border-bottom: 1px solid #000;
}

h4 {
	font-size: 2.3rem;
	text-transform: uppercase;
	margin: 0;
	padding-top:10px;
}

p {
	margin: 0;
}

.wrapper {
	max-width: 1000px;
	margin: 10px auto;
	padding: 10px 20px;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

//******************************
//        Main Styles
//******************************

#map {
	width:100%;
	height: 300px;
	border: 2px dotted #000; 
}

main {
	.appInfo {
		padding: 20px 0 40px;
	}
	.storeInfo {
		p.contactInfo {
			font-size: 2rem;
			font-weight: 400;
			margin: 0;
			padding: 0;
		}
		p.contactNum {
			font-size: 2rem;
			font-size: 400;
			margin: 0;
			padding: 0;
		}
	}
}

section.yourNearest {
	margin-top: 20px;
	max-width: 100%;
	border: 2px dotted #000;
	#groceryStoreLocationInfo,
	#hardwareStoreLocationInfo,
	#pharmacyLocationInfo {
		padding: 10px;
	}
}	

#groceryStoreLocationInfo h3 {
	border-bottom: 3px solid #8E61FF;
}
#hardwareStoreLocationInfo h3 {
	border-bottom: 3px solid #678EFF;
}

#pharmacyLocationInfo h3 {
	border-bottom: 3px solid #00E842;
}

//******************************
//	   Media Queries Styles
//******************************

@media (max-width: 767px) {
	h3 {
		font-size: 2.3rem;
	}

	h4 {
		font-size: 1.8rem;
	}

	header p.tagline {
		font-size: 2.5rem;
	}
}

@media (max-width: 617px) {
	h2 {
		font-size: 4rem;
	}

	main form input[type=text] {
		font-size: 2rem;
	}

	main form input[type=submit] {
		font-size: 2rem;
	}
}

@media (max-width: 520px) {
	#map {
		width: 100%;
	}

	.twitter {
		width: 100%;
	}
	
	h2 {
		font-size: 3rem;
	}

	h4 {
		font-size: 2rem;
	}
	
	input[type=text].userAddress {
		width: 100%;
	}

	main form input[type=submit] {
		display: block;
		margin: 10px auto 0;
		font-size: 2rem;
		width: 40%;
	}
	
	input::-webkit-input-placeholder {
		font-size: 2rem;
	}
}

@media (max-width: 515px) {
	header h1 {
		font-size: 8rem;
	}
}

@media (max-width: 500px) {
	section.emergencySupplies {
		.groceries,
		.homeHardware,
		.pharmacy {
			width: 100%;
		}
	}

	main p {
		font-size: 1.8rem;
	}
}

@media (max-width: 415px) {
	header nav li a {
		font-size: 1.5rem;
	}

	header h1 {
		font-size: 6.5rem;
	}
	
	header p.tagline {
		font-size: 2rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	.collapse-card {
		h4 {
			font-size: 2.3rem;
		}
	}
}

@media (max-width: 330px) {
	header nav li a {
		font-size: 1.2rem;
	}

	header h1 {
		font-size: 5rem;
	}

	header p.tagline {
	font-size: 1.5rem;
	}
	
	h3 {
		font-size: 2rem;
	}

	h2 {
		font-size: 2.3rem;
	}

	.collapse-card {
		h4 {
			font-size: 1.8rem;
		}
	}

	.grocery,
	.hardware,
	.pharmacy {
		ul {
			li {
				font-size: 1.7rem;
			}
		}
	}
}

@media (max-width: 279px) {
	header nav li a {
		font-size: 1rem;
	}

	header h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 1.8rem;
	}
}

