article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header#top {
  background: url(../images/survive-smaller.jpg);
  background-size: cover;
  height: 100vh;
  color: #FFF;
  padding-top: 10rem;
}

header#top div.inner-wrapper {
  width: 1000px;
  padding: 6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

header#top div.inner-wrapper div.app-info {
  flex: 1 0 50%;
}

header#top div.inner-wrapper form {
  flex: 1 0 40%;
  padding-top: 2.7rem;
}

header#top h1 {
  font-size: 11rem;
  font-weight: normal;
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 2px dotted #EC5A00;
}

header#top p.tagline {
  padding-top: 1rem;
  font-size: 3rem;
  color: #FFF;
  margin: 0;
}

header#top div.appInfo {
  padding: 2rem 2rem 0 0;
  line-height: 1.5;
}

header#top form h2 {
  font-size: 2rem;
  padding: 4rem 0 1rem;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

header#top form label {
  font-size: 3rem;
  text-transform: capitalize;
}

header#top form input[type=text] {
  font-size: 3rem;
  border: none;
  border: .1rem solid #FFF;
  background: transparent;
  width: 100%;
  color: #FFF;
  padding: 1rem;
}

header#top form input[type=text]:focus {
  background: transparent;
  outline: none;
}

header#top form input::-webkit-input-placeholder {
  color: #FFF;
}

header#top form input[type=submit] {
  width: 100%;
  margin-top: 2rem;
  font-size: 2.5rem;
  background: #EC5A00;
  border: 0.2rem solid #EC5A00;
  color: #FFF;
}

header#top form input[type=submit]:focus {
  outline: none;
}

header#top form input[type=submit]:hover {
  border: .2rem solid #FFF;
}

footer {
  text-align: center;
  background-color: #1a1a1a;
  margin-top: 10px;
  padding: 10px;
  color: #DBAC00;
}

main section.yourNearest {
  max-width: 100%;
}

main section.yourNearest .container {
  max-width: 100%;
  margin: 0 auto;
}

main section.yourNearest #map {
  width: 100%;
  height: 300px;
}

main section.whatYouWillNeed {
  text-align: center;
  padding: 4rem 0 5rem;
}

main .flex-container {
  display: flex;
  flex-flow: row wrap;
}

main .flex-container .collapse-card {
  flex: 1 0 20%;
}

main h2 {
  font-size: 3rem;
}

main .collapse-card__heading {
  background-color: #FFF;
  text-align: center;
}

main .collapse-card__body {
  background-color: #FFF;
}

main .storeInfo p.contactInfo {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

main .storeInfo p.contactNum {
  font-size: 2rem;
  font-size: 400;
  margin: 0;
  padding: 0;
}

main .grocery,
main .hardware,
main .pharmacy {
  background-color: #FFF;
  padding: 10px 40px;
  list-style-type: square;
}

main .grocery ul,
main .hardware ul,
main .pharmacy ul {
  padding: 0 20px;
}

main .grocery ul li,
main .hardware ul li,
main .pharmacy ul li {
  padding: 0;
}

main .grocery {
  padding: 10px 20px;
}

main .collapse-card__heading h4 {
  font-weight: normal;
  font-size: 3rem;
}

main .grocery-title {
  color: #8E61FF;
}

main .hardware-title {
  color: #678EFF;
}

main .pharmacy-title {
  color: #00E842;
}

main div.collapse-card {
  font-size: 2rem;
  line-height: 2.5rem;
  color: grey;
  text-align: left;
  border-bottom: 1px solid #1a1a1a;
}

main div.collapse-card ul {
  list-style: square;
  list-style-position: inside;
  padding: 0 20px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #FFF;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: #FFF;
}

a:hover {
  color: #EC5A00;
}

h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 1px solid #000;
}

h4 {
  font-size: 2.3rem;
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
}

p {
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 10px auto;
  padding: 10px 20px;
}

.inner-wrapper {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
